*{
    margin:0;
    padding: 0;
    border : border-box;
    font-family:arial;
}
.amazon-logo{
height: 65px;
justify-content: center;
display: flex;
align-items: center;

}
.amazon-logo-img{
    height:60px ;
    width: 135px;
     background-image:url("amazon2-logo.png") ;
     background-size: cover;
}
.main{
    margin-top: 15px;
    height: 440px;
    width: 700px;
    
   justify-content: center;
  display: flex;
}
.inner-sign{
    height:358px;
    width: 340px;
    border: 1px solid #dddada;
    color: black;
    border-radius: 6px;
    padding: 20px 25px;
}
.main-align{
display: flex;
align-items: center;
justify-content: center;

}
.sign-para{
    padding-top:5px;
    font-size: 13px;
    font-weight: 700;
}
.sign-input{
    padding: 3px 7px;
    border-radius:4px;
    border: 1px solid rgb(119, 119, 119);
    height: 31px;
    width: 296px;
    margin-top: 10px;
}
.input-button{
height: 31px;
width: 315px;
padding: 1px 6px;
background-color: #ffd66e;
border-radius: 7px;
margin-top: 20px;
}
.sign-para2{
    padding-top: 20px;
    height: 36px;
    width: 318px;
}
.sign-para2 p{
    font-size:0.85rem;
}
.sign-para3{
margin-top: 20px;
font-size:0.85rem;
}
.sign-para4{
    margin-top: 20px;
    height: 57px;
    width: 318px;

}
.sign-para4 a{
    text-decoration: none;
    font-size: 0.85rem;
 
}
a{
    color: blue;
}
.inner-button2{
    height: 29px;
    width: 318px;
    padding: 0px 10px 0px 11px;
    background-color:transparent;
    border: 1px solid rgb(119, 119, 119);
    border-radius: 5px;
}
.shadow{
    border: 1.5px solid transparent;
}
.shadow:hover{
box-shadow:  0 0 5px blue, 0 0 5px blue, 0 0 5px blue;
}
.sign-input:hover{
    box-shadow:  0 0 5px blue, 0 0 5px blue, 0 0 5px blue;
    }